<h1>Editing cohort</h1>
<p class="lead">Adding users and projects to a cohort publishes them on the site.</p>
<%= render 'form' %>

<%= link_to 'Show', @cohort %> |
<%= link_to 'Back', cohorts_path %>
