<h2>Cohort of <%= @cohort.name %></h2>

<h3>Graduates</h3>
<%= render @cohort.users %>

<h3>Projects</h3>
<%= render @cohort.projects %>

<%= link_to 'Edit', edit_cohort_path(@cohort), class: 'btn' %>