<h3>Graduate Profile</h3>
<%= render @user %>

<h3>Portfolio</h3>
<%= render @user.projects %>

<div class="text-center"><%= link_to '<i class="icon-home icon-large"></i>Home &nbsp;'.html_safe, root_path, class: 'btn btn-large btn-primary' %></div>