<% title @user.name %>
<h3>Graduate Profile</h3>
<%= render @user %>
<%= @user.cohort.nil? ? '<p class="lead">Ask an admin to publish your profile by adding you to a cohort</p>'.html_safe : "" %>

<h3>Portfolio</h3>
<%= render @user.projects %>

<div class="text-center"><%= link_to '<i class="icon-home icon-large"></i>Home &nbsp;'.html_safe, root_path, class: 'btn btn-large btn-primary' %></div>