<% title @project.name %>
<h3>Built at Sydney Dev Camp</h3>
<%= render @project %>
<%= @project.cohort.nil? ? '<p class="lead text-warning">Ask an admin to publish your project by adding it to a cohort</p>'.html_safe : "" %>

<h3>Contributors</h3>
<%= render @project.users %>

<div class="text-center"><%= link_to '<i class="icon-home icon-large"></i>Home &nbsp;'.html_safe, root_path, class: 'btn btn-large btn-primary' %></div>